body {
    background: #eeeeee;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

a {
    color: #111111;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #999999;
}

.site-container:before,
.site-container:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.content-area:before,
.content-area:after,
.sidebar:before,
.sidebar:after {
    clear: both;
    content: "";
    display: table;
}


.site-container {
    background: #ffffff;
    border: 1px solid #cccccc;
    margin: 1.125em auto;
    padding: 1.125em;
    max-width: 72em;
}

.site-branding {
    text-align: center;
}

.site-header {
    padding: 1.125em;
}

.site-header .site-title,
.site-header .site-description {
    margin: 0;
    padding: 0;
}

.site-header .site-title {
    font-size: 2.250em;
}

.site-content {
    margin: 1.125em 0;
}

.box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.125em;
}

.content-area {
    float: left;
    width: 50.625em
}

.content-area .entry-title {
    margin: 0;
    padding: 0;
    text-align: center;
}

.entry-content {
    margin: 2em 0;
}

.entry-content .site-name {
    display: block;
    font-size: 1.250em;
    margin-bottom: 0.5em;
    text-align: center;
}

.entry-content .link {
    display: block;
    text-align: center;
}

.widget-area {
    float: right;
    width: 19.125em
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    margin: 0.5em;;
}