body {
    font-family: 'Merriweather', serif;
}

a {
    color: #000080;
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: underline;
}

.site-container:before,
.site-container:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.content-area:before,
.content-area:after,
.sidebar:before,
.sidebar:after {
    clear: both;
    content: "";
    display: table;
}

.site-header {
    background: #fcfcfc;
    border-bottom: 0.063em solid #f3f3f3;
}

.site-header .branding-navigation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.125em;
}

.site-header .branding-navigation .site-branding .site-title,
.site-header .branding-navigation .site-branding .site-description {
  	margin: 0;
  	padding: 0;
}

.site-header .branding-navigation .site-branding .site-title {
    color: #757575;
  	float: left;
  	font-size: 1.813em;
  	padding: 0.375em;
}

.site-header .branding-navigation .site-branding .site-description {
  	color: #959595;
  	float: left;
  	padding: 1em;
}

.navigation {
    padding: 0.5em;
    text-align: right;
}

.secondary {
  text-align: center;
}

.navigation ul,
.secondary ul {
    display: block;
    list-style: none;
    margin: 0;
}

.navigation li,
.secondary li {
    display: inline-block;
    padding: 0.5em 1em;
}

.site-content {
    margin: 3em 0;
}

.content-area {
    margin: 0 auto;
    max-width: 680px;
}

.box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.125em;
    margin-top: 2em
}

.content-area .entry-title {
    margin: 0;
    padding: 0;
    text-align: center;
}

.entry-content {
    margin-bottom: 1.125em;
}

.entry-content .site-name {
    display: block;
    font-weight: 700;
    margin: 0;
    text-align: center;
}

.entry-content .link {
    display: block;
    text-align: center;
}

.widget-area {
    float: right;
    width: 19.125em
}

.widget-area .widget-title {
    margin: 0 0 0.750em 0;
}

.footer-area {
    text-align: center;
}

.content-area .content-notification {
    line-height: 1.7em;
    margin: 1.125em 0;
}

.widget-area .widget-content {
    line-height: 1.7em;
}
